/* You can add global styles to this file, and also import other style files */

html {
  font-size: 16px;
  -ms-overflow-style: scrollbar;
  -webkit-tap-highlight-color: transparent; }

body {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 1rem;
  line-height: 1.5;
  color: #333333;
  background-color: inherit; }

.logo {
  font-size: 50px;
  padding-bottom: 10px;
}

.banner {
  color: #006080;
  background-color: #ccfff2;
  padding: 2rem;
  margin-bottom: 2rem;
}
.banner h1 {
  text-shadow: 0px 1px 3px rgba(0, 0, 0, 0.3);
  margin-bottom: 0px; }

a {
  color: #333333;
  text-decoration: none; }

a h1 {
  font-size: 25px;
  font-weight: bold;
}

pre {
  margin-top: 0;
  margin-bottom: 1rem; }

figure {
  margin: 0 0 1rem; }

img {
  vertical-align: middle; }

[role="button"] {
  cursor: pointer; }

a,
area,
button,
[role="button"],
input,
label,
select,
summary,
textarea {
  touch-action: manipulation; }

table {
  background-color: transparent; }

caption {
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  color: #818a91;
  text-align: left;
  caption-side: bottom; }

[hidden] {
  display: none !important; }

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
  margin-bottom: 0.5rem;
  font-family: inherit;
  font-weight: 500;
  line-height: 1.1;
  color: inherit; }

.img-circle {
  border-radius: 50%;
}

.img {
  vertical-align: middle;
}

.user-img {
  width: 100px;
  height: 100px;
  border-radius: 100px;
  margin-bottom: 1rem;  }

.title-img {
  width: 30px;
  heitht: 30px;
}

.line {
  float:left;
}

.article-meta {
  padding-bottom: 10px;
}


.author {
  padding-left: 5px;
  font-family: Arial;
  font-size: medium;
}

.sub-text {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 14px;
  color: lightslategrey;
}

.date {
  padding-left: 5px;
}

#authorElement {
  margin-top: -4px;
}
#dateElement {
  margin-top: -10px;
}

.tag {
  display: inline-block;
  padding: 0.25em 0.4em;
  font-size: 75%;
  font-weight: bold;
  line-height: 1;
  color: #fff;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: 0.25rem; }

.tag:empty {
  display: none; }

.btn .tag {
  position: relative;
  top: -1px; }

a.tag:focus, a.tag:hover {
  color: #fff;
  text-decoration: none;
  cursor: pointer; }

.tag-pill {
  padding-right: 0.6em;
  padding-left: 0.6em;
  border-radius: 10rem; }

.tag-default {
  background-color: #f0f0f5; }
.tag-default[href]:focus, .tag-default[href]:hover {
  background-color: #d1d1e0; }

.tag-primary {
  background-color: #5CB85C; }
.tag-primary[href]:focus, .tag-primary[href]:hover {
  background-color: #449d44; }

.tag-success {
  background-color: #5cb85c; }
.tag-success[href]:focus, .tag-success[href]:hover {
  background-color: #449d44; }

.tag-info {
  background-color: #5bc0de; }
.tag-info[href]:focus, .tag-info[href]:hover {
  background-color: #31b0d5; }

.tag-warning {
  background-color: #f0ad4e; }
.tag-warning[href]:focus, .tag-warning[href]:hover {
  background-color: #ec971f; }

.tag-danger {
  background-color: #B85C5C; }
.tag-danger[href]:focus, .tag-danger[href]:hover {
  background-color: #9d4444; }

.preview-link {
  color: inherit !important; }
.preview-link:hover {
  text-decoration: inherit !important; }
.preview {
  padding-top: 20px;
  border-top: ridge thin;  }

.pagination {
  display: inline-block;
  padding-left: 0;
  margin-top: 1rem;
  margin-bottom: 1rem;
  border-radius: 0.25rem; }
.page-item {
  display: inline; }
.page-item:first-child .page-link {
  margin-left: 0;
  border-bottom-left-radius: 0.25rem;
  border-top-left-radius: 0.25rem; }
.page-item:last-child .page-link {
  border-bottom-right-radius: 0.25rem;
  border-top-right-radius: 0.25rem; }
.page-item.active .page-link, .page-item.active .page-link:focus, .page-item.active .page-link:hover {
  z-index: 2;
  color: #fff;
  cursor: default; }
.page-item.disabled .page-link, .page-item.disabled .page-link:focus, .page-item.disabled .page-link:hover {
  color: #818a91;
  pointer-events: none;
  cursor: not-allowed;
  background-color: #fff;
  border-color: #ddd; }

.page-link {
  position: relative;
  float: left;
  padding: 0.5rem 0.75rem;
  margin-left: -1px;
  text-decoration: none;
  background-color: #fff;
  border: 1px solid #ddd; }
.page-link:focus, .page-link:hover {
  background-color: #eceeef;
  border-color: #ddd; }

.container {
  padding-top: 20px;  }

.container h1 {
  padding-bottom: 10px;
}

.title {
  font-size: 20px;
  font-weight: bold;
  font-style: oblique;
}

.attribution {
  font-size: 18px;
}

.footer {
  test-align: center;
  padding-top: 100px;
  width: 100%;
}

.editor-page {
  padding-bottom: 60px;
}

.settings-page {
  padding-bottom: 80px;
}

.lable-font {
  font-size: 25px;
  font-weight: bold;
}

.error-messages {
  font-size: 15px;
  font-weight: bold;
  color: red;
}

.pull-right {
  float: right;
}

.line {
  display: inline;
}
